$primary-color: (
        "Dark Blue": hsl(233, 26%, 24%),
        "Lime Green": hsl(136, 65%, 51%),
        "Bright Cyan": hsl(192, 70%, 51%)
);

$gradient: linear-gradient(to right, map_get($primary-color, "Lime Green"), map_get($primary-color, "Bright Cyan"));

$neutral-color: (
        "Grayish Blue": hsl(233, 8%, 62%),
        "Light Grayish Blue": hsl(220, 16%, 96%),
        "Very Light Gray": hsl(0, 0%, 98%),
        "White": hsl(0, 0, 100%)
);

.Mobile-Dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(map_get($primary-color, "Dark Blue"), rgba(0,0,0,0));
  z-index: 998;
  &-Menu {
    display: grid;
    grid-template-rows: repeat(5, 3rem);
    margin: 100px 5vw 0 5vw;
    padding: 1rem 0 1rem 0;
    width: 90vw;
    text-align: center;
    background-color: map_get($neutral-color, "White");
    border-radius: 5px;
    &-Item {
      margin: auto;
      color: map_get($primary-color, "Dark Blue");
      font-size: 1.25rem;
    }
  }
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  width: 100vw;
  height: 75px;
  background-color: map_get($neutral-color, "White");
  padding: 25px 10vw;
  z-index: 999;
  &-Logo {
    height: 25px;
  }
  &-Buttons {
    grid-column-start: 2;
    margin-top: -25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    &-Button {
      position: relative;
      border: none;
      background: none;
      color: map_get($neutral-color, "Grayish Blue");
      font-weight: 400;
      box-sizing: border-box;
      height: 75px;
      width: auto;
      cursor: pointer;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 70px;
        height: 5px;
        width: 0;
        background-image: $gradient;
        transition: width ease 150ms, left ease 150ms;
      }
      &:hover {
        color: map_get($primary-color, "Dark Blue");
      }
      &:hover::before {
        width: 70%;
        left: 15%;
      }
    }
  }
  &-ReqInv {
    position: absolute;
    grid-column-start: 3;
    margin-top: 17px;
    right: 10vw;
    border: none;
    background: $gradient;
    padding: 0;
    height: 40px;
    width: 150px;
    color: map_get($neutral-color, "White");
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      filter: brightness(110%);
    }
  }
  &-MenuHamburger {
    background: none;
    border: none;
    grid-column-start: 3;
    height: 100%;
    width: 25px;
    padding: 0;
    margin-left: auto;
  }
}

.mobileNavbar {
  padding: 25px 7.5vw;
}